# This file defines who is responsible for different parts of the codebase
# Each line is a file pattern followed by one or more owners

# Sentry API example endpoint
/src/pages/api/* coby.eastwood@sentry.io
src/pages/api/* coby.eastwood@sentry.io
*/src/pages/api/* coby.eastwood@sentry.io
*src/pages/api/* coby.eastwood@sentry.io
app:///_next/server/pages/api/example.js coby.eastwood@sentry.io
server/pages/api/* coby.eastwood@sentry.io